!!!
%html
  %head
    %title Ciber Developer Update
    = haml :"templates/header_imports"
  %body
    = haml :"templates/nav"
    .container
      %h3
        Forslag til CDU 2014
      .row
        - get_suggestions.each do | key, suggestion |
          =haml :"templates/suggestion", :locals => {:key => key, :value => suggestion, :delete => false}