!!!
%html
  %head
    %title Ciber Development Update
    = haml :"templates/header_imports"
    :javascript
      $(document).ready(function() {
        #{get_file("public/js/rateit_module.js")}
      });
  %body
    = haml :"templates/nav"
    .container
      - params.each do | key, value |
        = haml :"templates/track_spot", :locals => {:key => key, :value => value}

:javascript
  $(document).ready(function() {
    $(".toggleDescription").click(function() {
      $(this).nextAll('.slideDescription').first().slideToggle();
    });
    $(".toggleComment").click(function() {
      $(this).nextAll('.slideComment').first().slideToggle();
    });
  });