!!!
%html
  %head
    %title Ciber Development Update
    = haml :"templates/header_imports"
    -green = '#821CB4'
    -purple = '#B3DB11'
  %body
    = haml :"templates/nav"
    .container
      .col-lg-6
        %h1
          Hum...en av oss har gjort feil her. Så prøv på nytt og se om det går bedre.
      .col-lg-2
        %img{:src => "/images/oh-yeah.jpg", :alt => "404 image of Ryan Gosling"}